.featured_h1{
    color: #33333A;
    font-size: 42px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: 400;
    padding-top: 62px;
    padding-bottom: 28px;
}

.feature_wrap{
   background-color: #FCFCFC;
}
.inner_flex:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    

}
.title{
    font-size: 16px;
    font-weight: 400;
    color: #33333A;
    line-height: 1.6;
    width: 263px;
    height: 50px;
    text-align: left;
    margin-top: 12px;
    margin-bottom:0px;


}
.price{
    font-size: 14px;
    font-weight: 400;
    color: #33333A;
    line-height:2.14;
    width: 263px;
    height: 30px;
    text-align: left;
    margin: 0px;
    margin-bottom: 39px;
   

}
.inner_flex{
    position: relative;
    padding: 10px ;
}
.item_picture{
    width: 263px;
    height: 390px;
    margin-top: 28x;
   
} 
.item_picture:hover{
    opacity: .5;
}
.flex_box{
    display: flex;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
   
  }
  .inner_flex:hover .item_picture{
    opacity: 0.3;
   
  }
  .inner_flex:hover .middle {
    opacity: 1;
  }
  .image_hover{
    background-color:#33333A;
    color: #FFFFFF;
    font-size: 12px;
    padding: 15px 20px;
    line-height: 1.66;
    font-weight: 700;
    letter-spacing: 2;
    width: 180px;
    height: 50px;
    border: none;
  }

  .prop_new{
    position: absolute;
    top: 1px;
    margin: 9px;
    font-size: 12px;
    line-height: 1.6;
    color: #FFFFFF;
    font-weight: 400;
    width: 50px;
    height: 20px;
    background-color: #FF6008;
    text-align: center;
  }