.imgleft{
    width:12%;

}

.imgleft .button{
    /* width: 68px;
    height: 68px; */
    border: none;
    width: 100%;
}
.border{
    border:2px solid orangered
}

.innerImg{
    margin-bottom: 10px;
    width: 100%;
}
.imgright {
    width: 83%;
  }
  .imgright img {
    width: 100%;
  }
@media screen and (max-width:768px) {
    .imgleft{
        display: flex;
        justify-content: space-between;
        width: 70%;
        margin: auto;
    }
    .imgleft img{
        width: 15%;

    }

}