
.imgleft{
    width:12%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.imgleft .button{
    width: 100%;
    object-fit: cover;
    

}
div img{
    margin-bottom: 20px;
    width: 100%;

}
.border{
    border:4px solid orangered;
  
}

.innerImg{
    margin-bottom: 20px;
    width: 100%;
}
.pointer {cursor: pointer;}
.imgright {
    width: 90%;
    margin-left: 30px;
  }
  .imgright img {
    width: 100%;
  }
@media screen and (max-width:768px) {
    .imgleft{
        width:80%;
        display: flex;
        flex-direction: row;
        margin-left: 30px;
    }
    div img{
        margin-bottom:30px;
        width: 100%;
    
    }

   
 
}