.footer {
    background-color: #33333A;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 41px;
    padding-bottom: 20px;

}
.items{
    display: flex;
    flex-direction: column;
}
.flex {
   
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.copy-right{
    text-align: center;
    font-size: 14px;
    margin-bottom: 40px;
}
@media(max-width:768px){
    .hr-item{
        display: block;
    }
    .email-input{width: 200px;}
    .footer{
        padding-left: 30px;
    }
}