.footer-item-title {
  font-size: 18px;
  font-weight: 400;
}

.footer-items {
  width: 170px;
  margin-top: 19px;
  font-size: 14px;
}
.hr-item {
  background-color: bisque;
  width: 170px;
  display: none;
}
@media (max-width: 768px) {
  .hr-item {
    display: block;
  }
}
